@font-face {
    font-family: 'ocr-a';
    src: url('../font/enocra-webfont.woff2') format('woff2'),
        url('../font/enocra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding-left: 0;
}

* {
    outline: 0;
    box-sizing: border-box;
}

button {
    background-color: transparent;
    border: solid 1px;
    font-family: 'ocr-a';
}

textarea {
    width: 100%;
    height: 150px;
}

body {
    font-family: 'ocr-a';
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-size: 1.25rem;
    margin: 0;
    background-image: url(./../assets/bg-yellow.jpg);
    line-height: 2em
}

.app {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.banner {
    background: rgba(255, 255, 255, .5);
    text-align: center;
}

.banner__title {
    margin: .5em 0 0;
}

.control-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 2em;
    z-index: 1;
}

.create-button {
    position: relative;
    margin: 0 0.5em;
    text-align: center;
    user-select: none;
    padding: .5em 1.2em;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.create-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    z-index: -1;
}

.document {
    height: 100%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, .2);
    /* Firefox */
    scrollbar-width: 3px;
    scrollbar-color: rgba(255, 255, 255, .2);
    scrollbar-face-color: #F9AA11;
}

.document::-webkit-scrollbar {
    /* Safari and Chrome */
    background-color: rgba(255, 255, 255, .2);
    width: 3px;
}

.document::-webkit-scrollbar-thumb {
    /* Safari and Chrome */
    background-color: #000
}



/* -- DIALOG -- */
.dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, .5);
    border: 0;
}

.dialog__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.8em 1em;
    width: 28em;
    background-color: #fff;
    border: 2px solid #000;
}

.dialog .form__container {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.dialog .close {
    position: absolute;
    top: .4em;
    right: 1rem;
    align-self: flex-end;
    padding: .2rem;
    font-size: 28px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.dialog input,
.dialog textarea {
    padding: .5em;
    margin: .3em 0;
    border: 2px solid #000;
}

.dialog__submit {
    background: #000;
    color: #fff;
    border: 0;
    padding: .6em;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: .5em;
}





/* -- PAGE ITEM -- */


.page-item {
    margin: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 2px solid #000;
    position: relative;
}

.page-item__body {
    width: 100%;
}

.page-item .page-item__controls {
    align-self: flex-start;
}

.page-item .close {
    border: 0;
    font-size: 28px;
    padding: 0.5em;
    cursor: pointer;
}




/* -- TITLE -- */
.title {
    position: relative;
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 1.2em;
}

.title span {
    z-index: 1;
    position: relative;
}

.title::before {
    content: "";
    display: block;
    width: 90px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: .5em;
    transform: skewX(-40deg);

}




/* -- IMAGE & VIDEO -- */

.image,
.video {
    display: flex;
    width: 100%;
    height: auto;
}

.image__holder,
.video__player {
    flex: 60% 1 1;
}

.image__title::before {
    background-color: #EB4F4F;
}

.video__title::before {
    background-color: #2CB48B;
}

.image__desc,
.video__desc {
    flex: 40% 1 1;
    margin-left: 1.5em;
}

.image__thumbnail {
    width: 100%;
    height: 100%;
}

.video__iframe {
    border: none;
    width: 100%;
    height: 100%;
    min-height: 13vw;
}



/* -- NOTE & TODO -- */
.note,
.todo {
    padding: 0.5em 1.5em;
}

/* .todo input[type="checkbox"] {
    display: none;
}

.todo input[type="checkbox"]+.todo-label::before {
    display: inline-block;
    content: 'o';
    font-size: 1.5em;
}

.todo input[type="checkbox"]+.todo-label:after {
    position: absolute;
    left: 3px;
    top: 19px;
    content: '●';
    font-size: .6em;
    line-height: 0.8;
    color: #000;
    transition: all .3s;
    opacity: 0;
}

.todo input[type="checkbox"]:checked+.todo-label:after {
    opacity: 1;
} */

.todo-label {
    margin-bottom: 1em;
    display: inline-block;
    position: relative;
}

.note__title::before {
    background-color: #CC5FBE;
}

.todo__title::before {
    background-color: #705FCC;
}




/* -- FOOTER -- */
.footer {
    background: rgba(255, 255, 255, .5);
    text-align: center;
}

.footer p {
    margin: .6em;
}


/* -- DRAG & DROP -- */

.mute-children * {
    pointer-events: none;
}

.lifted {
    animation: drag_start 250ms;
    opacity: .5;
}

.drop-area {
    border: 2px solid #F9AA11;
}

@keyframes drag_start {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}